<p><a href="" routerLink="..">&lt; Back</a></p>
<pre>{{product | json}}</pre>

<div class="example-container">
  <mat-form-field label="Input">
    <input matInput placeholder="Input" required>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>

  <mat-form-field hintLabel="Blablabla">
    <textarea matInput ></textarea>
  </mat-form-field>

  <!--<mat-form-field>-->
    <!--<mat-select placeholder="Select">-->
      <!--<mat-option value="option">Option</mat-option>-->
    <!--</mat-select>-->
  <!--</mat-form-field>-->

    <mat-form-field>
      <input matInput placeholder="Enter your email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      <!--<mat-error>Error message</mat-error>-->
    </mat-form-field>
</div>
