<form class="" [formGroup]="filterForm" (ngSubmit)="onSignIn()">

  <input formControlName="first"
         type="text"
         placeholder="Firstname">

  <select formControlName="isActive"
          type="select"
          class="input__active"
          placeholder="Active">

    <option selected value="">All</option>
    <option value="true">Active</option>
    <option value="false">Not Active</option>
  </select>
</form>

<!--<strong>Form Value</strong>-->
<!--<pre>{{ paginationForm.value | json }}</pre>-->
