<h1 class="header">Products</h1>

<!--<table cdk-table [dataSource]="dataSource" class="cdk-elevation-z8">-->

  <!--&lt;!&ndash;- Note that these columns can be defined in any order.-->
        <!--The actual rendered columns are set as a property on the row definition" &ndash;&gt;-->

  <!--&lt;!&ndash; Position Column &ndash;&gt;-->
  <!--&lt;!&ndash;<ng-container cdkColumnDef="position">&ndash;&gt;-->
  <!--&lt;!&ndash;<th cdk-header-cell *cdkHeaderCellDef> No. </th>&ndash;&gt;-->
  <!--&lt;!&ndash;<td cdk-cell *cdkCellDef="let row"> {{row.position}} </td>&ndash;&gt;-->
  <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->

  <!--&lt;!&ndash; Name Column &ndash;&gt;-->
  <!--<ng-container cdkColumnDef="avatar">-->
    <!--<th cdk-header-cell *cdkHeaderCellDef>avatar</th>-->
    <!--<td cdk-cell *cdkCellDef="let row">-->
      <!--<img *ngIf="row.picture" [src]="row.picture" [alt]="row.name.first + ' ' +row.name.last">-->
      <!--<img *ngIf="!row.picture" src="http://placehold.it/32x32" [alt]="row.name.first + ' ' +row.name.last">-->
    <!--</td>-->
  <!--</ng-container>-->


  <!--&lt;!&ndash; Name Column &ndash;&gt;-->
  <!--<ng-container cdkColumnDef="name">-->
    <!--<th cdk-header-cell *cdkHeaderCellDef>name</th>-->
    <!--<td cdk-cell *cdkCellDef="let row"> {{row.name.first}} {{row.name.last}}</td>-->
  <!--</ng-container>-->

  <!--&lt;!&ndash; balance Column &ndash;&gt;-->
  <!--<ng-container cdkColumnDef="balance">-->
    <!--<th cdk-header-cell *cdkHeaderCellDef>balance</th>-->
    <!--<td cdk-cell *cdkCellDef="let row"> {{row.balance}}</td>-->
  <!--</ng-container>-->

  <!--&lt;!&ndash; isActive Column &ndash;&gt;-->
  <!--<ng-container cdkColumnDef="isActive">-->
    <!--<th cdk-header-cell *cdkHeaderCellDef> isActive</th>-->
    <!--<td cdk-cell *cdkCellDef="let row">-->
      <!--<span *ngIf="row.isActive" class="">-->
        <!--<i class="fa fa-check-circle" aria-hidden="true"></i>-->
      <!--</span>-->

      <!--<span *ngIf="!row.isActive" class="">-->
        <!--<i class="fa fa-circle" aria-hidden="true"></i>-->
      <!--</span>-->

    <!--</td>-->
  <!--</ng-container>-->

  <!--&lt;!&ndash; company Column &ndash;&gt;-->
  <!--<ng-container cdkColumnDef="company">-->
    <!--<th cdk-header-cell *cdkHeaderCellDef>company</th>-->
    <!--<td cdk-cell *cdkCellDef="let row"> {{row.company}}</td>-->
  <!--</ng-container>-->

  <!--&lt;!&ndash; company Column &ndash;&gt;-->
  <!--<ng-container cdkColumnDef="action">-->
    <!--<th cdk-header-cell *cdkHeaderCellDef>Action</th>-->
    <!--<td cdk-cell *cdkCellDef="let row">-->

     <!--<span class="">-->
        <!--<i class="fa fa-remove" aria-hidden="true"></i>-->
      <!--</span>-->

      <!--<span class="">-->
        <!--<i class="fa fa-edit" aria-hidden="true"></i>-->
      <!--</span>-->

    <!--</td>-->
  <!--</ng-container>-->


  <!--<tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>-->
  <!--<tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>-->
<!--</table>-->

<!--============================-->

<table app-table [dataSource]="dataSource" >

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <!--<ng-container cdkColumnDef="position">-->
  <!--<th cdk-header-cell *cdkHeaderCellDef> No. </th>-->
  <!--<td cdk-cell *cdkCellDef="let row"> {{row.position}} </td>-->
  <!--</ng-container>-->

  <!-- Name Column -->
  <ng-container appColumnDef="avatar">
    <th app-header-cell *appHeaderCellDef>avatar</th>
    <td app-cell *appCellDef="let row">
      <img *ngIf="row.picture" [src]="row.picture" [alt]="row.name.first + ' ' +row.name.last">
      <img *ngIf="!row.picture" src="http://placehold.it/32x32" [alt]="row.name.first + ' ' +row.name.last">
    </td>
  </ng-container>


  <!-- Name Column -->
  <ng-container appColumnDef="name">
    <th app-header-cell *appHeaderCellDef>name</th>
    <td app-cell *appCellDef="let row"> {{row.name.first}} {{row.name.last}}</td>
  </ng-container>

  <!-- balance Column -->
  <ng-container appColumnDef="balance">
    <th app-header-cell *appHeaderCellDef>balance</th>
    <td app-cell *appCellDef="let row"> {{row.balance}}</td>
  </ng-container>

  <!-- isActive Column -->
  <ng-container appColumnDef="isActive">
    <th app-header-cell *appHeaderCellDef> isActive</th>
    <td app-cell *appCellDef="let row">
      <span *ngIf="row.isActive" class="">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
      </span>

      <span *ngIf="!row.isActive" class="">
        <i class="fa fa-circle" aria-hidden="true"></i>
      </span>

    </td>
  </ng-container>

  <!-- company Column -->
  <ng-container appColumnDef="company">
    <th app-header-cell *appHeaderCellDef>company</th>
    <td app-cell *appCellDef="let row"> {{row.company}}</td>
  </ng-container>

  <!-- company Column -->
  <ng-container appColumnDef="action">
    <th app-header-cell *appHeaderCellDef>Action</th>
    <td app-cell *appCellDef="let row">

     <span class="">
        <i class="fa fa-remove" aria-hidden="true"></i>
      </span>

      <span class="">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </span>

    </td>
  </ng-container>


  <tr app-header-row *appHeaderRowDef="displayedColumns"></tr>
  <tr app-row *appRowDef="let row; columns: displayedColumns;"></tr>
</table>
