<h1 class="header">Products</h1>

<!--<app-filter [dataSource]="ds">-->

  <!--<ng-container *filterControl="'name.first_like'; let f">-->
    <!--<input type="text" name="first" [formControl]="f.control"-->
           <!--placeholder="Firstname">-->
  <!--</ng-container>-->

  <!--<ng-container *filterControl="'isActive'; let f">-->
    <!--<select [formControl]="f.control" type="select" class="input__active">-->
      <!--<option selected value="">All</option>-->
      <!--<option value="true">Active</option>-->
      <!--<option value="false">Not Active</option>-->
    <!--</select>-->
  <!--</ng-container>-->

<!--</app-filter>-->

<!--<app-filter-form (formValue)="onSearch($event)"></app-filter-form>-->

<table app-table appSort [dataSource]="ds" >
  <!-- avatar Column -->
  <ng-container appColumnDef="avatar">
    <th app-header-cell *appHeaderCellDef>avatar</th>
    <td app-cell *appCellDef="let row">
      <img *ngIf="row.picture" [src]="row.picture" [alt]="row.name.first + ' ' + row.name.last">
      <img *ngIf="!row.picture" src="http://placehold.it/32x32" [alt]="row.name.first + ' ' +row.name.last">
    </td>
  </ng-container>


  <!-- name Column -->
  <ng-container appColumnDef="name">
    <th app-header-cell *appHeaderCellDef app-sort-header="name.first">name</th>
    <td app-cell *appCellDef="let row"> {{row.name.first}} {{row.name.last}}</td>
  </ng-container>


  <!-- age Column -->
  <ng-container appColumnDef="age">
    <th app-header-cell *appHeaderCellDef app-sort-header>age</th>
    <td app-cell *appCellDef="let row"> {{row.age}}</td>
  </ng-container>

  <!-- balance Column -->
  <ng-container appColumnDef="balance">
    <th app-header-cell *appHeaderCellDef app-sort-header>balance</th>
    <td app-cell *appCellDef="let row"> {{row.balance}}</td>
  </ng-container>

  <!-- isActive Column -->
  <ng-container appColumnDef="isActive">
    <th app-header-cell *appHeaderCellDef app-sort-header>active</th>
    <td app-cell *appCellDef="let row">

      <span class="table__btn" (click)="toggleActive(row.id, row.isActive)">
        <i *ngIf="row.isActive" class="fa fa-check-circle" aria-hidden="true"></i>
        <i *ngIf="!row.isActive" class="fa fa-circle" aria-hidden="true"></i>
      </span>

    </td>
  </ng-container>

  <!-- company Column -->
  <ng-container appColumnDef="company">
    <th app-header-cell *appHeaderCellDef app-sort-header>company</th>
    <td app-cell *appCellDef="let row"> {{row.company}}</td>
  </ng-container>

  <!-- company Column -->
  <ng-container appColumnDef="action">
    <th app-header-cell *appHeaderCellDef>action</th>
    <td app-cell *appCellDef="let row">

     <span class="table__btn table__btn-remove" (click)="deleteProduct(row.id)">
        <i class="fa fa-remove" aria-hidden="true"></i>
      </span>

      <span class="table__btn table__btn-edit" [routerLink]="'/' + row.id">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </span>

    </td>
  </ng-container>


  <tr app-header-row *appHeaderRowDef="displayedColumns"></tr>
  <tr app-row *appRowDef="let row; columns: displayedColumns;"></tr>
</table>

<app-pagination-bar
  [dataSource]="ds"
></app-pagination-bar>
