<div  (click)="_control.onContainerClick && _control.onContainerClick($event)">
    <label [id]="_labelId"
           [attr.for]="_control.id"
           [attr.aria-owns]="_control.id"
           *ngIf="label">
      {{label}}
      <span
        aria-hidden="true"
        *ngIf="!hideRequiredMarker && _control.required && !_control.disabled">&nbsp;*</span>
    </label>

      <ng-content></ng-content>

  <ng-container class="mat-form-field-subscript-wrapper"
       [ngSwitch]="_getDisplayedMessages()">

    <ng-container *ngSwitchCase="'error'">
      <ng-content select="mat-error"></ng-content>
    </ng-container>

    <small *ngSwitchCase="'hint'">
      <div *ngIf="hintLabel" [id]="_hintLabelId" class="mat-hint">{{hintLabel}}</div>
      <ng-content select="mat-hint"></ng-content>
      <!--<ng-content select="mat-hint:not([align='end'])"></ng-content>-->
      <!--<div class="mat-form-field-hint-spacer"></div>-->
      <!--<ng-content select="mat-hint[align='end']"></ng-content>-->
    </small>
  </ng-container>
</div>
